a,
ul,
li,
nav {
  background-color: white;
  align-items: center;
}

.NavMain {
  box-shadow: 1px 1px 6px 2px rgb(115, 126, 133);

  display: flex;
  padding: 20px;
  height: 70px;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;

  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 4px 6px #737e85;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

.logo {
  background-color: white;

  font-style: italic;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 2px 4px 6px #737e85;

  padding: 0px 10px;

  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: -4px 0px 5px 3px #737e85;
}
